[Unit]
Description=Selenium Server Standalone
After=network.target

[Service]
EnvironmentFile=-/opt/selenium/defaults
ExecStart=/usr/lib/jvm/java-8-openjdk-amd64/bin/java -Dwebdriver.chrome.driver=/opt/selenium/chromedriver -jar /opt/selenium/selenium-server-standalone-3.141.59.jar
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target

